:root {
  --main-bg: #d5d9dc;
  --main-bg-svg: url("../assets/tic-tac-toe_light.svg");
  --main-fg: #f7f7f7;
  --main-fg-transparent: #e3eaedca;
  --font: #1b1c1f;
  --a-not-visited: #00259f;
  --a-visited: #750571;
  --accent: #cd0531;
  --light-contrast: #3a3b42;
  --cell-hover: #f4c0b4;
  --player-cell-bg: rgb(120, 233, 49);
  --bot-cell-bg: rgb(221, 17, 17);
}
:root.dark {
  --main-bg: #0b2335;
  --main-bg-svg: url("../assets/tic-tac-toe_dark.svg");
  --main-fg: #131024;
  --main-fg-transparent: #12101bad;
  --font: #e4e7f1;
  --a-not-visited: #94abf5;
  --a-visited: #f478c4;
  --accent: #f21d4b;
  --light-contrast: #5e627c;
  --cell-hover: #706cde;
}

@font-face {
  font-family: Monofur;
  src: url("../assets/fonts/MonofurNF.woff") format("woff"),
    url("../assets/fonts/MonofurNF.woff2") format("woff2"),
    url("../assets/fonts/MonofurNF.ttf") format("tff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Danger on the motorway";
  src: url("../assets/fonts/DangerOnTheMotorway-xV10.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: Ozone;
  src: url("../assets/fonts/Ozone-xRRO.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--a-not-visited);
}

a:visited {
  color: var(--a-visited);
}

a:hover {
  color: var(--accent);
}

body {
  padding: 0;
  margin: 0;
  max-width: 100dvw;
  min-height: 100dvh;
  background: var(--main-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--font);
}

main {
  outline: 1px solid red;
  font-family: Monofur;
  font-size: 1.2em;
  background-color: var(--main-bg);
  background-image: var(--main-bg-svg);
  background-position: 20% 20%;
  background-size: 4%;
  width: 100%;
  min-height: 90dvh;
  padding: 20px 90px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
}

h1 {
  font-size: 2.5em;
  padding: 0;
  margin: 10px 5px 0 5px;
  text-align: center;
}

#context-container-motto {
  text-align: center;
  margin: 0;
}

main > section {
  flex: 1 1 600px;
  width: 50%;
  max-width: 900px;
  min-height: min-content;
  margin-top: 30px;
  border-radius: 5px;
}

#context-container {
  outline: 1px solid green;
  background: var(--main-fg-transparent);
  padding: 20px 30px;
}

#game-container {
  outline: 1px solid yellow;
  width: fit-content;
  max-width: 95dvw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}

#game-rules {
  height: 100%;
  min-height: 400px;
}

#rules-ul {
  padding-left: 10px;
  margin-bottom: 50px;
}

#rules-ul li {
  margin: 10px;
  padding: 0;
}
#rules-ul li::marker {
  color: var(--accent);
}

#game-rules-summary {
  text-align: right;
  padding: 10px 30px;
}

.rules-ul-heading {
  display: inline-block;
  text-decoration: underline;
  font-size: 1.1em;
  padding: 0;
  margin: 5px;
}

#gameboard {
  /* outline: 1px solid red; */
  background: var(--light-contrast);
  border: 20px solid var(--main-fg);
  border-radius: 10px;
  width: 90%;
  aspect-ratio: 1/0.9;
  width: clamp(250px, 500px, 90dvw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.cell {
  /* outline: 1px solid rgb(255, 18, 18); */
  background: var(--main-fg);
  width: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
  border: none;
  transition: filter 100ms ease-in-out;
}
.cell:hover {
  background: var(--cell-hover);
}
.cell:active {
  filter: brightness(0.8);
}

.player-cell {
  background: var(--player-cell-bg);
}
.bot-cell {
  background: var(--bot-cell-bg);
}

#game-scoreboard {
  border: 1px solid var(--font);
  background: var(--main-fg-transparent);
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#scoreboard-toolbox {
  outline: 1px solid red;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#timer {
  border: 1px solid var(--font);
  min-width: 190px;
  width: 30%;
  height: 80px;
  background: black;
  margin-bottom: 5px;
  font-size: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#new-game-btn {
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  padding: 5px 15px 2.5px 15px;
  cursor: pointer;
  color: white;
  background: var(--green);
  border: 2px solid var(--font);
  border-radius: 5px;
  font-weight: 900;
}

.scoreboard-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--font);
  width: 30%;
  min-height: 50px;
  height: 100px;
}
.scoreboard-box h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.score-display {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: auto;
  width: 60%;
  height: 50px;
  border: 1px solid var(--font);
  font-size: 2em;
}
.led-style {
  color: rgb(226, 70, 27);
  text-align: center;
  font-family: Ozone;
  text-shadow: 0 0 10px red;
  padding-left: 7px;
}

svg {
  padding: 10px;
  width: 130px;
  height: 130px;
}

circle {
  fill: none;
  stroke: var(--player-cell-bg);
  stroke-width: 5;
  stroke-dasharray: 314.16;
  stroke-dashoffset: 314.16;
  animation: draw-circle 0.3s ease-out forwards;
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}
